<?php
/**
 * An Example View Script for an Email Message Template
 */


?>
<html>
<head>
<title><?php echo isset($this->subject) ? $this->escapeHtml($this->subject) : 'Email Message'; ?></title>
</head>
<body style="background-color: #eee; margin: 0; padding: 20px;">

<div style="margin: 10px auto; width: 500px; padding: 10px; background-color: #fff; border: 1px solid #ccc; font-family: sans-serif;">
	
	<h1>This is an Example Multipart Email Message</h1>
	<p>Providing the variable <code>message</code> has been set in the view model,
	it will be displayed below:</p>
	
	<?php if(isset($this->message)) { ?>
		<pre><?php echo $this->escapeHtml($this->message); ?></pre>
	<?php } else { ?>
		<p style="color:red;"><strong>Message variable not set</strong></p>
	<?php } ?>
	
	<p>In you email client, take a look at the plain text alternative. This is
	generated automatically by the <code>Netglue\Filter\HtmlToText</code>
	filter.</p>
	
	<p>You might find more information at
	<a href="https://bitbucket.org/netglue/zf2-mtmail-module">bitbucket.org/netglue/zf2-mtmail-module</a> but essentially,
	once you've got the module activated, along with the dependencies 
	<em>(<a href="https://bitbucket.org/netglue/zf2">Netglue Lib Extensions</a>)</em>, in your code simply:<br />
<code style="white-space: pre;">
$serviceLocator = $this-&gt;getServiceLocator(); // Manager perhaps?
$service = $serviceLocator-&gt;get('MailTemplate');
$msg = $service-&gt;createMessage('example/example', array(
	'message' =&gt; 'This is a test!',
));
// Add a sender, subject, recipient etc and then dispatch with a mail transport
</code></p>
	
	
</div>

</body>
</html>
